<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block head %}
    {% endblock head %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body onload="{% block body_onload %}{% endblock body_onload %}">

<div class="pure-g">
    <div class="pure-u-1-6">
        <div class="pure-menu applist-leftmenu">
            <span class="pure-menu-heading">Slogger</span>
            <ul class="pure-menu-list">

                <li class="pure-menu-item"><a href="/web/applist/" class="pure-menu-link">Applications list</a></li>
                <li class="pure-menu-item"><a href="/web/addapp/" class="pure-menu-link">Add application</a></li>
                <li class="pure-menu-item"><a href="/web/logout/" class="pure-menu-link">Logout</a></li>

            </ul>
        </div>
    </div>
    <div class="pure-u-3-4 applist-content">
        {% block content %}
        {% endblock content %}
    </div>

</div>


</body>
</html>